.root {
    background-color: 'blue';
    margin: 0% 0;
}

.entry1 {
    padding-left: 5px;
}

.entry2 {
    text-decoration-line: underline;
    padding-left: 5px;
}
.modalColor{
    background-color: #e9f3fe ;
}
.form {
    padding-left: 5px;
    text-align: left;
    font-size: medium;
}

.entryTable {
    padding-left: 5px;
    text-align: left;
}

.formControl {
    width: 300px;
    margin: 0px 0px 0px 0px;
}

.formControlAddress {
    width: 91px;
    margin: 0px 0px 0px 0px;
}

.formControlGridSpacing {
    padding-right: 5px;
}

.formControlTwoElement {
    width: 90px;
}
.businessHoursSection {
    width: 80%;
    flex-direction: row;
    background-color: #e9f3fe ;
}
.btnEntry {
    padding-left: 5px;
    padding-top: 10px;
}
.tableColor{
    background-color: #e9f3fe ;
}