.home {
    margin: 0% 0;
    background-color:#e9f3fe ;
}

.mainSection {
    margin: 0.8% 0;
}

.businessHoursSection {
    width: 90%;
    padding-left: 2rem;
    flex-direction: row;
}

.businessHoursButtonSection {
    display: flex;
}

.businessHoursButtonItem {
    flex: 1;
}

.businessHoursButton {
    margin: 2px;
    padding-bottom: 1px;
    flex-direction: row;
    margin-top: -2rem;
    margin-left:10rem;
}

.businessHoursButtonBottom{
    margin: 2px;
    padding-bottom: 1px;
    flex-direction: row;
    margin-top: 1rem;
    margin-left:10rem;
}

.currentQueue {
    width: 90%;
    margin-left: 3%;
    border: 1px solid gray;
}

.venueInfo {
    width: 13rem;
    border: 1px solid gray;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  
}

.venueInfoButton {
    min-height: 7rem;
    width: 13rem;
    
}

.venueInfoEditing {
    padding-right: 0.2rem;
    padding-top: -0.5rem;
    display: inline-block;
   
}

.venueInfoEditing1 {
    padding-right: 0.2rem;
    display: inline-block;
    padding-top: -0.5rem;
   
}

.tableHeading {
    padding: "10px 0 0 15px";
}

.businessTitle{
    color: black;
    text-align: left;
    flex-direction: row;
    
}

.leftPanel {
    display: flex;
    flex-direction: column;
    border-right : 1px solid gray;
    border-top : 1px solid gray;
    width : 12.5rem;
    padding-right: 2rem;
}

.venue {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    
}

.waitButton{
    margin-left: 3rem;
    flex-direction: row;
}

.defaultTimeWaitButton{
    margin-left: 2rem;
    flex-direction: row;

}
.capacityField{
    width : 3rem;
}

.capacityButton{
    margin: -10rem;
}
.queueBlock {
    margin-top: 10rem;
    padding-top: 4rem;
}

.cell {
    border: 1px solid #efefef;
    padding: 1px;
    text-align: center;
}
.venueLocation{
    padding-top: 2%;
}

.businessTableColor {
    background-color: #e9f3fe;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .leftPanel {
        align-items : right;
        background-color: black;
        border: 1px solid black;
        height: 100%;
        width: 12.5rem;
        padding: 2rem;
    }

    .venue {
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem;
        max-height: 10rem;
        min-height: 4rem;
        height : 10rem;
    }

    .businessHoursSection {
        padding-left: 0;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}
