.home {
    margin: 30px 0;
}

.mainSection {
    margin: 30px 0;
}

.businessHoursSection {
    width: 90%;
    margin-left: 5%;
}

.currentQueue {
    width: 94%;
    margin-left: 3%;
}

.venueInfo {
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
}

.venueInfoButton {
    padding: 15px;
    min-height: 30px;
}

.venueInfoEditing {
    padding: 15px;
}

.tableHeading {
    padding: '10px 0 0 15px';
}

.sectionTitle {
    color: blue;
}